<section class="newsletterContenedor">
    <div class="parallax">
        <div class="newsletter">
            
            <div class="form">
                <div class="titulo">
                    <label for="email">Enterate de todas nuestras ofertas y obtené  descuentos<label>
                </div>

                <form action="" method="GET">
                    <div class="input">
                        <label for="email">
                            Ingresá tu email</label><input type="email" id="email">
                        
                    </div>
                    <div class="submit">
                        <button type="submit">Suscribirse</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>