<section class="productosAdmin">
     <div class="caja">
          <ul>
               <hr>
          <% for( let i = 0; i < productosDB.length; i++ ) { %>
               <li>
                    <p><%= productosDB[i].nombre %> </p>
                    <div class="accion">
                         <a href="/admin/productos/editar/<%=productosDB[i].id_producto%> "> Editar </a>
                         <form action="/admin/productos/borrar/<%= productosDB[i].id_producto%>?_method=DELETE" method="POST">
                              <button type="submit">Borrar</button>
                         </form>
                    </div>
               </li>
               <hr>
          <% } %>
          </ul>
     </div>
</section>