<section class="logIn" id="logIn">
       
     <div class="caja formLogIn">
          <div class="heading">
               <h2 class="titulo">INICIAR SESIÓN</h2>
               <p>Todavía no estás registrado? <a href="/usuarios/register">Crear una cuenta.</a></p>
          </div>
     <form class="form formularioLogIn" action=""method="POST">
          

          

          <div class="email">
               
               <label class="campoDatos"for="email">
                    <p>Email</p>
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email"id="email">
               </label>
          </div>

          <div class="contraseña">
               
               <label class="campoDatos"for="contraseña"><i class="fas fa-key"></i>
                    <p>Contraseña</p>
                    <input type="password" name="contraseña"id="contraseña">
               </label>
               <div class="olvide">
                    <a href="">Olvidé mi contraseña</a>
               </div>
          </div>

          <div class="recuerdame" for="remember">
               <label for="remember">
                    <input type="checkbox" name="remember"value="rememberMe" id="remember">
                    Recuérdame
               </label>
          </div>
          <div class="submit">
               <button type="submit" class="usuario inicio"> 
                    <a href=""><i class="fas fa-sign-in-alt"></i>  Ingresar</a>
               </button>
          </div>  
          <p>o</p>
     </form>
     

     <div class="redes">
          
          <button class="google" type="submit"value="Google"><i class="fab fa-google"></i> Google</button>
          <button class="facebook" type="submit"value="facebook"><i class="fab fa-facebook"></i> Facebook</button>
         
     </div>
     
     </div>

</section>
