<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('./partials/head') %>
</head>

<body>
     <%- include('./partials/header') %>

     <main class="contenedor-carrito">

          <section class="vistaResumen">
               <div class="tituloSeccion">
                    <h2>Productos en tu carrito: </h2>
               </div>

               <div class="contenedor-productos">
               </div>
               
               <div class="infoEnvio">
                    <div class="envio">
                         <i class="fas fa-check-circle"></i>
                         <p>Envio Gratis</p>
                    </div>
                    <div class="devolucion">
                         <i class="fas fa-check-circle"></i>
                         <p>Devolucion gratis dentro de 30 días</p>
                    </div>
               </div>
               
               <div class="detalleTotal">
                    <div class="subtotal">
                         <h5>Subtotal</h5>
                         <h5 class="monto-acumulado"></h5>
                    </div>
                    <div class="costoEnvio">
                         <h5>Impuestos <small>(IVA 21%.-)</small></h5>
                         <h5 class="impuestos"></h5>
                    </div>
                    <div class="totalPedido">
                         <h4>Total del pedido</h4>
                         <h4 class="monto-total"></h4>
                    </div>
               </div>
               
          </section>

          <section class="pago">
               <div class="seccionFija">
                    <div class="preFormulario">
                         <h6><a href="/productos">Agregar más productos</a></h6>
                         <p><a class="codigo" href="">Tengo un código promocional</a></p>
                    </div>

                    <p class="datos">Datos de facturación</p>

                    <div class="formulario">
                         <form action="" method="POST" >
                              <div class="completar">

                                   <label class="nombre">Nombre
                                        <input type="text" name="nombre"></label>

                                   <label class="apellido">Apellido
                                        <input type="text" name="apellido"></label>

                                   <label class="localidad">Localidad
                                        <input type="text" name="localidad"></label>

                                   <label class="zip">Código postal
                                        <input type="text" name="zip"></label>

                                   <label class="calle">Calle
                                        <input type="text" name="calle"></label>

                                   <label class="numeracion">Nº
                                        <input type="text" name="numeracion"></label>

                                   <label class="masInfo">Otra información
                                        <input type="text" name="masinfo"></label>

                                   <label class="email">Email
                                        <input type="email" name="email"></label>

                                   <label class="phone">Teléfono
                                        <input type="phone" name="telefono"></label>


                              </div>

                              <div class="seleccionEnvio">
                                   <label for="domicilio">
                                        <p><input type="radio" name="envio" id="domicilio">Entrega a Domicilio</p>
                                   </label>
                                   
                                   <label for="sucursal">
                                        <p><input type="radio" name="retiro" id="sucursal">Retiro en sucursal</p>
                                   </label>

                              </div>

                              <div class="newsletterAceptar">
                                   <p>
                                        <label for="newsletter"><input type="checkbox" name="newslatter"
                                                  id="newsletter">Acepto que me manden promos y novedades por
                                             e-mail.</label>
                                   </p>
                              </div>

                              <div class="total">
                                   <h4>Total impuestos incluidos</h4>
                                   <p><a class="detalles" href="">Ver detalles</a></p>
                              </div>

                              <h3 class="montoAPagar"></h3>

                              <div class="data-carrito">
                                   
                              </div>
                              <div class="carrito-length">

                              </div>

                              <div class="botonPagar">

                                   <button type="submit" id="checkout-post" >
                                        <a href="">
                                             <p>Pagar con</p>
                                             <img src="/images/mercadoPago.svg" alt="">
                                        </a>
                                   </button>
                              </div>
                              
                         </form>
                    </div>
               </div>
          </section>
     </main>
     <!--FOOTER-->
     <footer>
          <%- include('./partials/footer') %>
     </footer>
     <script type="text/javascript" src="/js/checkout.js"></script>


</body>

</html>