<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/styles/style.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

     <title>Carrito - CANIADA</title>
</head>

<body>
     <header>

     </header>
     
     <main class="contenedorCarrito">

          <section class="vistaResumen">
               <div class="producto 1">
                    <div class="imagenProducto">
                         <img class="imgProducto" src="/images/producto1/Talking Heads.png" alt="">
                    </div>
                    <div class="detalleProducto">
                         <div class="nombreDescripcion">
                              <h4>Nombre del Producto</h4>
                              <p>Descripción<p>
                              <p>Detalles</p>
                         </div>
                         <div class="cantidadYtalle">
                              <div>
                                   <input type="text" value="1">
                              </div>
                              <div class="talles">
                                   <p>Talle:</p>
                                   <select name="talle" id="talle">
                                        <option value="">...</option>
                                        <option value="">XS</option>
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                   </select>
                              </div>
                              
                         </div>
                    </div>

                    <div class="precioYeliminar">
                         <h3>$10</h3>
                         <a href=""><img src="/images/eliminar.svg" alt=""></a>
                    </div>
               </div>

               <div class="producto 2">
                    <div class="imagenProducto">
                         <img class="imgProducto" src="/images/producto1/Miles Trompeta - Roja.png" alt="">
                    </div>
                    <div class="detalleProducto">
                         <div class="nombreDescripcion">
                              <h4>Nombre del Producto</h4>
                              <p>Descripción<p>
                              <p>Detalles</p>
                         </div>
                         <div class="cantidadYtalle">
                              <div>
                                   <input type="text" value="1">
                              </div>
                              <div class="talles">
                                   <p>Talle:</p>
                                   <select name="talle" id="talle">
                                        <option value="">XS</option>
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                   </select>
                              </div>
                              
                         </div>
                    </div>

                    <div class="precioYeliminar">
                         <h3>$10</h3>
                         <a href=""><img src="/images/eliminar.svg" alt=""></a>
                    </div>

               </div>

               <div class="producto 3">
                    <div class="imagenProducto">
                         <img class="imgProducto" src="/images/producto1/helpBlanca.jpg" alt="">
                    </div>
                    <div class="detalleProducto">
                         <div class="nombreDescripcion">
                              <h4>Nombre del Producto</h4>
                              <p>Descripción<p>
                              <p>Detalles</p>
                         </div>
                         <div class="cantidadYtalle">
                              <div>
                                   <input type="text" value="1">
                              </div>
                              <div class="talles">
                                   <p>Talle:</p>
                                   <select name="talle" id="talle">
                                        <option value="">XS</option>
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                   </select>
                              </div>
                              
                         </div>
                    </div>

                    <div class="precioYeliminar">
                         <h3>$10</h3>
                         <a href=""><img src="/images/eliminar.svg" alt=""></a>
                    </div>
               </div>

               <div class="producto 4">
                    <div class="imagenProducto">
                         <img class="imgProducto" src="/images/producto1/RSNegra.png" alt="">
                    </div>
                    <div class="detalleProducto">
                         <div class="nombreDescripcion">
                              <h4>Nombre del Producto</h4>
                              <p>Descripción<p>
                              <p>Detalles</p>
                         </div>
                         <div class="cantidadYtalle">
                              <div>
                                   <input type="text" value="1">
                              </div>
                              <div class="talles">
                                   <p>Talle:</p>
                                   <select name="talle" id="talle">
                                        <option value="">XS</option>
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                   </select>
                              </div>
                              
                         </div>
                    </div>

                    <div class="precioYeliminar">
                         <h3>$10</h3>
                         <a href=""><img src="/images/eliminar.svg" alt=""></a>
                    </div>
               </div>

               <div class="infoEnvio">
                    <div class="envio">
                         <i class="fas fa-check-circle"></i>
                         <p>Envio Gratis</p>
                    </div>
                    <div class="devolucion">
                         <i class="fas fa-check-circle"></i>
                         <p>Devolucion gratis dentro de 30 días</p>
                    </div>
               </div>
               
               <div class="detalleTotal">
                    <div class="subtotal">
                         <h5>Total</h5>
                         <h5>$40</h5>
                    </div>
                    <div class="costoEnvio">
                         <h5>Envío</h5>
                         <h5>$0</h5>
                    </div>
                    <div class="totalPedido">
                         <h4>Total del pedido</h4>
                         <h4>$40</h4>
                    </div>
               </div>
               
          </section>

          <section class="pago">
               <div class="seccionFija">
                    <div class="preFormulario">
                         <h4><a href="">Seguir comprando</a></h4>
                         <p><a href="">Tenés un código promocional?</a></p>
                    </div>

                    <div class="formulario">
                         <form action="">
                              <div class="completar">
                                   <h4>Datos de facturación</h4>

                                   <label>Email
                                   <input type="email"></label>

                                   <label>Teléfono
                                   <input type="phone"></label>

                                   <label>Nombre
                                   <input type="text"></label>
                                   
                                   <label>Apellido
                                   <input type="text"></label>
                                   
                                   <label>Calle
                                   <input type="text"></label>
                                   
                                   <label>Nº
                                   <input type="text"></label>
                                   
                                   <label>Otra información
                                   <input type="text"></label>

                                   <label>Localidad
                                   <input type="text"></label>

                                   <label>Código postal
                                   <input type="text"></label>
                                   
                              </div>
                    
                              <div class="seleccionEnvio">
                                   <input type="radio" name="" id="">Entrega a Domicilio
                                   <input type="radio" name="" id="">Otra dirección
                                   <input type="radio" name="" id="">Retiro en sucursal
                                   
                              </div>

                              <div class="newsletterAceptar">
                                   <input type="radio" name="" id="">Acepto que me manden promos y novedades a mi mail.
                              </div>

                              <div class="total">
                                   <h4></h4>
                                   <p><a href=""></a></p>
                              </div>

                              <h3 class="montoAPagar">$2000</h3>

                              <a href=""><button type="submit"><p>Pagar con</p><img src="/images/mercadoPago.svg" alt=""></button></a>

                         </form>
                    </div>
               </div>
          </section>
     </main>
     <footer>

     </footer>
     
</body>

</html>