<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/styles/style.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

     <title>Carrito - CANIADA</title>
</head>

<body>
     <header>

     </header>
     
     <main class="contenedorCarrito">

          <section class="vistaResumen">
               <div class="producto 1">
                    <div class="imagenProducto">
                         <img class="imgProducto" src="/images/producto1/Talking Heads.png" alt="">
                    </div>
                    <div class="detalleProducto">
                         <div class="nombreDescripcion">
                              <h4>Nombre del Producto</h4>
                              <p>Descripción<p>
                              <p>Detalles</p>
                         </div>
                         <div class="cantidadYtalle">
                              <div>
                                   <input type="text" value="1">
                              </div>
                              <div class="talles">
                                   <p>Talle:</p>
                                   <select name="talle" id="talle">
                                        <option value="">...</option>
                                        <option value="">XS</option>
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                   </select>
                              </div>
                              
                         </div>
                    </div>

                    <div class="precioYeliminar">
                         <h3>$500</h3>
                         <a href=""><img src="/images/eliminar.svg" alt=""></a>
                    </div>
               </div>

               <div class="producto 2">
                    <div class="imagenProducto">
                         <img class="imgProducto" src="/images/producto1/Miles Trompeta - Roja.png" alt="">
                    </div>
                    <div class="detalleProducto">
                         <div class="nombreDescripcion">
                              <h4>Nombre del Producto</h4>
                              <p>Descripción<p>
                              <p>Detalles</p>
                         </div>
                         <div class="cantidadYtalle">
                              <div>
                                   <input type="text" value="1">
                              </div>
                              <div class="talles">
                                   <p>Talle:</p>
                                   <select name="talle" id="talle">
                                        <option value="">XS</option>
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                   </select>
                              </div>
                              
                         </div>
                    </div>

                    <div class="precioYeliminar">
                         <h3>$500</h3>
                         <a href=""><img src="/images/eliminar.svg" alt=""></a>
                    </div>

               </div>

               <div class="producto 3">
                    <div class="imagenProducto">
                         <img class="imgProducto" src="/images/producto1/helpBlanca.jpg" alt="">
                    </div>
                    <div class="detalleProducto">
                         <div class="nombreDescripcion">
                              <h4>Nombre del Producto</h4>
                              <p>Descripción<p>
                              <p>Detalles</p>
                         </div>
                         <div class="cantidadYtalle">
                              <div>
                                   <input type="text" value="1">
                              </div>
                              <div class="talles">
                                   <p>Talle:</p>
                                   <select name="talle" id="talle">
                                        <option value="">XS</option>
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                   </select>
                              </div>
                              
                         </div>
                    </div>

                    <div class="precioYeliminar">
                         <h3>$500</h3>
                         <a href=""><img src="/images/eliminar.svg" alt=""></a>
                    </div>
               </div>

               <div class="producto 4">
                    <div class="imagenProducto">
                         <img class="imgProducto" src="/images/producto1/RSNegra.png" alt="">
                    </div>
                    <div class="detalleProducto">
                         <div class="nombreDescripcion">
                              <h4>Nombre del Producto</h4>
                              <p>Descripción<p>
                              <p>Detalles</p>
                         </div>
                         <div class="cantidadYtalle">
                              <div>
                                   <input type="text" value="1">
                              </div>
                              <div class="talles">
                                   <p>Talle:</p>
                                   <select name="talle" id="talle">
                                        <option value="">XS</option>
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value="">L</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                   </select>
                              </div>
                              
                         </div>
                    </div>

                    <div class="precioYeliminar">
                         <h3>$500</h3>
                         <a href=""><img src="/images/eliminar.svg" alt=""></a>
                    </div>
               </div>

               <div class="infoEnvio">
                    <div class="envio">
                         <i class="fas fa-check-circle"></i>
                         <p>Envio Gratis</p>
                    </div>
                    <div class="devolucion">
                         <i class="fas fa-check-circle"></i>
                         <p>Devolucion gratis dentro de 30 días</p>
                    </div>
               </div>
               
               <div class="detalleTotal">
                    <div class="subtotal">
                         <h5>Total</h5>
                         <h5>$2000</h5>
                    </div>
                    <div class="costoEnvio">
                         <h5>Envío</h5>
                         <h5>$0</h5>
                    </div>
                    <div class="totalPedido">
                         <h4>Total del pedido</h4>
                         <h4>$2000</h4>
                    </div>
               </div>
               
          </section>

          <section class="pago">
               <div class="seccionFija">
                    <div class="preFormulario">
                         <h4><a href="">Seguir comprando</a></h4>
                         <p><a href="">Tengo un código promocional</a></p>
                    </div>

                    <p class="datos">Datos de facturación</p>

                    <div class="formulario">
                         <form action="">
                              <div class="completar">

                                   <label class="nombre">Nombre
                                   <input type="text"></label>
                                   
                                   <label class="apellido">Apellido
                                   <input type="text"></label>

                                   <label class="localidad">Localidad
                                   <input type="text"></label>
     
                                   <label class="zip">Código postal
                                   <input type="text"></label>
                                   
                                   <label class="calle">Calle
                                   <input type="text"></label>
                                   
                                   <label class="numeracion">Nº
                                   <input type="text"></label>
                                   
                                   <label class="masInfo">Otra información
                                   <input type="text"></label>

                                   <label class="email">Email
                                   <input type="email"></label>

                                   <label class="phone">Teléfono
                                   <input type="phone"></label>
     
                                   
                              </div>
                    
                              <div class="seleccionEnvio">
                                   <p><input type="radio" name="domicilio" id="domicilio">Entrega a Domicilio</p>
                                   <p><input type="radio" name="otra" id="otra">Otra dirección</p>
                                   <p><input type="radio" name="sucursal" id="sucursal">Retiro en sucursal</p>
                                   
                              </div>

                              <div class="newsletterAceptar">
                                   <p><input type="radio" name="newslatter" id="newsletter">Acepto que me manden promos y novedades por e-mail.</p>
                              </div>

                              <div class="total">
                                   <h4>Total impuestos incluidos</h4>
                                   <p><a href="">Ver detalles</a></p>
                              </div>

                              <h3 class="montoAPagar">$2000</h3>

                              <div class="botonPagar">
                                   <button type="submit">
                                        <a href="">
                                             <p>Pagar con</p>
                                             <img src="/images/mercadoPago.svg" alt="">
                                        </a>
                                   </button>
                              </div>   
                         </form>
                    </div>
               </div>
          </section>
     </main>
     <footer  class="">
          <div class="fila1">
               <img class="logo" src="/images/logos/isoLogoTipo.svg" alt=""> <!--logo-->
     
               <div class="derecha">
                    <div class="nav">
                         <h4>Caniada</h4>
                         <ul>
                              <li><a href="">Link 1</a></li>
                              <li><a href="">Link 2</a></li>
                              <li><a href="">Link 3</a></li>
                         </ul>
                    </div>
     
                    <div class="colecciones">
                         <h4>Colecciones</h4>
                         <ul>
                              <li><a href="">Link 1</a></li>
                              <li><a href="">Link 2</a></li>
                              <li><a href="">Link 3</a></li>
                         </ul>
                    </div>
     
                    <div class="nosotros">
                         <h4>Nosotros</h4>
                         <ul>
                              <li><a href="">Quiénes somos</a></li>
                              <li><a href="">Contactanos</a></li>
                         </ul>
                    </div>
     
                    <div class="usuario">
                         <a href="" class="registro">Registrarme</a>
                         <a href="" class="logIn">Iniciar sesión</a>
                         
                    </div>
               </div>
          </div> 
     
          <div class="fila2">
               <h4>© grupo6 DH</h4>
               <div class="redes">
                    <p>Seguinos</p>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
               </div>
          </div>
     </footer>
     
</body>

</html>