<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Producto creado con éxito</h1>
        <a href="/productos/crear">Crear otro</a>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>