<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/styles/detalleProducto.css">
     <title>CANIADA - Productos</title>
</head>
     <!--<header></header>--> 
     <main>
          <div class="ruta">
               <a href="#"><button>Atrás</button></a>
               <p>género/categoría/subcategoría/producto</p>
          </div>
     </main>
<body>
     
</body>

</html>
