<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logos/logoCaniada.svg">
    <link rel="stylesheet" href="/styles/detalleProducto.css">
    <title>CANIADA - Productos</title>
</head>

<body>
    <header>
            <div class="logo">
                <a href="/" >
                    <img class="header" src="/images//logos/isoLogoTipoBlanco.svg" alt="">
                </a>
            </div>
              
            <nav class="menu">
                <ul>
                    <li><a href="">Categorías</a></li>
                    <li><a href="#seccionTres">Destacados</a></li>
                    <li><a href="">Colecciones</a></li>
                         
                </ul>
            </nav>
               

            <nav class="user">
                <ul>
                    <li><a href=""><i class="fas fa-search"></i></a></li>
                    <li class="bag"><a href="/carrito"><span class="notificacion">4</span><i class="fas fa-shopping-bag"></i></a></li>
                    <li><a href="/usuario"><i class="fas fa-user"></i></a></li>
                </ul>
            </nav>
     
     </header>
    <main class="detalleProducto">
        <div class="rutaProducto">
            <ul>
                <li><a href="#">género</a></li>
                <li><a href="#">/ categoría</a></li>
                <li><a href="#">/ subcategoría</a></li>
                <li><a href="#">/ producto</a></li>
            </ul>
        </div>
        <div class="contenedorDetalle">
            <div class="panelIzquierdo">
                <section class="vidriera">
                    <div class="imagenes">
                        <div class="botonIzq">
                            <button><a href=""><i class="fas fa-arrow-left"></i></a></button>
                        </div>
                        <div><img src="/images/producto1/remeraLisaBlanca1.jpeg" alt="remeraLisaBlanca1"></div>
                        <div>
                            <img src="/images/producto1/remeraLisaBlanca2.jpeg" alt="remeraLisaBlanca2">
                        </div>
                        <div class="botonDer">
                            <button><a href=""><i class="fas fa-arrow-right"></i></a></button>
                        </div>
                    </div>
                </section>
                <section class="caracteristicasProducto">
                    <h3>Nombre detallado del producto</h3>
                    <h4>Talla</h4>
                    <p>El/la modelo mide x y lleva talle x</p>
                    <h4>Modelo</h4>
                    <p>Slim Fit</p>
                    <h4>Composicion</h4>
                    <p>Tipo de composición</p>
                    <h4>Art. N°</h4>
                    <p>123456</p>
                    <div class="opinionTalles">
                        <h4>Talle según XX opiniones</h4>
                        <img src="/images/medidorTalles.jpg" alt="">
                    </div>
                </section>
            </div>
            <div class="panelDerecho">
                    <h2>Nombre del producto&emsp;&emsp;<a href=""><i class="far fa-heart"></i></a></h2>
                    <h2>Precio</h2>
                    <p>Hasta en <strong>12 cuotas sin interés</strong> con los mejores bancos </p>
                    <br>
                    <p><strong>Colores/Diseños</strong></strong></p>
                    <div class="coloresProducto">
                        <div class="miniatura"><a href="#"><img src="/images/producto1/miniaturaRemeraLisaNegra.jpeg" alt="color1"></a></div>
                        <div class="miniatura"><a href="#"><img src="/images/producto1/miniaturaRemeraLisaBordo.jpeg"alt="color2"></a></div>
                        <div class="miniatura"><a href="#"><img src="/images/producto1/miniaturaRemeraLisaVerde.jpeg" alt="color3"></a></div>
                        <button><i class="fas fa-arrow-right"></i></button>
                    </div>
                    <div class="seleccionTalles">
                        <select name="seleccionTalles" id="seleccionTalles">
                                   <option value="selecTalle">Seleccioná tu talle</option>
                                   <option value="XS">XS</option>
                                   <option value="S">S</option>
                                   <option value="M">M</option>
                                   <option value="L">L</option>
                                   <option value="XL">XL</option>
                                   <option value="XXL">XXL</option>
                              </select>
                    </div>
                    <small><a href="#">Tabla de talles</a></small>
                    <a href="/carrito" class="boton"><i class="fas fa-shopping-bag"></i>&emsp;Añadir</a>
                    <ul>
                        <li><i class="far fa-check-circle"></i>&ensp;Envíos gratis a todo el país</li>
                        <li><i class="far fa-check-circle"></i>&ensp;Devoluciones gratuitas</li>
                    </ul>
            </div>
        </div>
        <div class="similaresProducto">
            <h3>Otros también compraron</h3>
            <div class="recomendaciones">
                <div><a href=""><img src="images/producto1/coltrane.png" alt="recom1"></a><a href=""><p>Producto</p></a><p>Precio</p></div>
                <div><a href=""><img src="/images/producto1/ledZep.jpg" alt="recom2"></a><a href=""><p>Producto</p></a><p>Precio</p></div>
                <div><a href=""><img src="images/producto1/helpBlanca.jpg" alt="recom3"></a><a href=""><p>Producto</p></a><p>Precio</p></div>
                <div><a href=""><img src="/images/producto1/pinkFloyd.png" alt="recom4"></a><a href=""><p>Producto</p></a><p>Precio</p></div>
                <button><i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </main>


    <footer>
        <div class="fila1">
             <img class="logo" src="/images/logos/isoLogoTipo.svg" alt=""> <!--logo-->
   
             
             <div class="menu">
                  <div class="nav">
                       <h4>Caniada</h4>
                       <ul>
                            <li><a href="">Link 1</a></li>
                            <li><a href="">Link 2</a></li>
                            <li><a href="">Link 3</a></li>
                       </ul>
                  </div>
                  <div class="colecciones">
                       <h4>Colecciones</h4>
                       <ul>
                            <li><a href="">Link 1</a></li>
                            <li><a href="">Link 2</a></li>
                            <li><a href="">Link 3</a></li>
                       </ul>
                  </div>
                  <div class="nosotros">
                       <h4>Nosotros</h4>
                       <ul>
                            <li><a href="">Quiénes somos</a></li>
                            <li><a href="">Contactanos</a></li>
                       </ul>
                  </div>
             </div>         
                  
             <div class="usuario">
                       <a href="" class="registro">Registrarme</a>
                       <a href="" class="logIn">Iniciar sesión</a>
                       
             </div>
             
        </div>
        <div class="fila2">
             <h4>© grupo6 DH</h4>
             <div class="redes">
                  <p>Seguinos</p>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-pinterest"></i></a>
             </div>
        </div>
   </footer>
   
</body>

</html>