<!DOCTYPE html>
<html lang="es">
<head>
   <%- include('./partials/head') %>
</head>

<body>
     <%- include('./partials/header') %>
<main>

     <section class="seccionUno">
          <div class="tituloSeccionUno">
               <h1>Caniada Ropa Informal</h1>
               <button class="callToAction"><a href="/productos">Ver productos</a></button>
          </div>
          <div class="flechaScroll">
               <a href="#seccionDos"><span><i id="flechaTop" class="fas fa-arrow-down"></i></span></a>
               
          </div>

     </section>

     <section id="seccionDos" class="seccionDos">
          <div class="divSeccionDos izquierda">
               <div class="izquierda">
                    <h2>Aca va la categoría o colección uno</h2>
                    <button class="callToAction">Acción</button>
               </div>
          </div>
          <div class="divSeccionDos">
               <img src="/images/home-imgs/secciondosfoto.jpg" alt="">
          </div>
          
          <div class="flechaScroll">
              <a href="#seccionTres"> <span><i  class="fas fa-arrow-down flechaSeccion"></i></span></a>
          </div>

     </section>
     <section id="seccionTres" class="seccionTres">
          <div>
               <a name="seccionTres"></a>
               <h2>MÁS VENDIDOS</h2>
          </div>
          <div class="carrouselDeProductos">
               <div class="flechaIzqCarrousel"></div>
               <div class="slider">

                    <ul id="autoWidth" class="cs-hidden">
     <!--1------------------------------------>	                   
                         <li class="item-uno">
                              <div class="box">
                                   <div class="slide-img">
                                        <img src="images/producto1/coltrane.png" alt=""> 
                                         <div class="overlay">
                                             <!--buy-btn------>	
                                                   <a href="#" class="carritoOverlay"><i class="far fa-heart">
                                                       <span class="tooltiptext">Whislist</span>
                                                   </i></a>	
                                                   <a href="#" class="whislistOverlay"><i class="fas fa-shopping-cart"><span class="tooltiptext">Agregar al Carrito</span></i></a>	
                                                   <a href="#" class="vistaRapida"><i class="far fa-eye"><span class="tooltiptext">Ver Producto</span></i></a>	
                                             </div>
                                   </div>
                                  
                                   <div class="detail-box">
                                        <div class="descripcionProducto">
                                             <a href="/productos"><p>Descripcion del producto</p></a>
                                        </div>
                                        <div class="precioYoferta">
                                             <div class="precio">$500</div>
                                             <div class="oferta"> 50% Off</div>
                                        </div>
                                        <div class="envio">
                                             <p>Envío Gratis</p>
                                        </div>
                                        <div class="lineaInferior">
                                             <div><span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star"></span>
                                                  <span class="fa fa-star"></span></div>
                                             <div class="carritoYWhislist">
                                                  
                                              
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </li>
                         <li class="item-uno">
                              <div class="box">
                                   <div class="slide-img">
                                        <img src="/images/producto1/ledZep.jpg" alt=""> 
                                         <div class="overlay">
                                             <!--buy-btn------>	
                                                   <a href="#" class="carritoOverlay"><i class="far fa-heart">
                                                       <span class="tooltiptext">Whislist</span>
                                                   </i></a>	
                                                   <a href="#" class="whislistOverlay"><i class="fas fa-shopping-cart"><span class="tooltiptext">Agregar al Carrito</span></i></a>	
                                                   <a href="#" class="vistaRapida"><i class="far fa-eye"><span class="tooltiptext">Ver Producto</span></i></a>	
                                             </div>
                                   </div>
                                  
                                   <div class="detail-box">
                                        <div class="descripcionProducto">
                                             <a href="/productos"><p>Descripcion del producto</p></a>
                                        </div>
                                        <div class="precioYoferta">
                                             <div class="precio">$500</div>
                                             <div class="oferta"> 50% Off</div>
                                        </div>
                                        <div class="envio">
                                             <p>Envío Gratis</p>
                                        </div>
                                        <div class="lineaInferior">
                                             <div><span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star"></span>
                                                  <span class="fa fa-star"></span></div>
                                             <div class="carritoYWhislist">
                                                  
                                              
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </li>
                         <li class="item-uno">
                              <div class="box">
                                   <div class="slide-img">
                                        <img src="images/producto1/helpBlanca.jpg" alt=""> 
                                         <div class="overlay">
                                             <!--buy-btn------>	
                                                   <a href="#" class="carritoOverlay"><i class="far fa-heart">
                                                       <span class="tooltiptext">Whislist</span>
                                                   </i></a>	
                                                   <a href="#" class="whislistOverlay"><i class="fas fa-shopping-cart"><span class="tooltiptext">Agregar al Carrito</span></i></a>	
                                                   <a href="#" class="vistaRapida"><i class="far fa-eye"><span class="tooltiptext">Ver Producto</span></i></a>	
                                             </div>
                                   </div>
                                  
                                   <div class="detail-box">
                                        <div class="descripcionProducto">
                                             <a href="/productos"><p>Descripcion del producto</p></a>
                                        </div>
                                        <div class="precioYoferta">
                                             <div class="precio">$500</div>
                                             <div class="oferta"> 50% Off</div>
                                        </div>
                                        <div class="envio">
                                             <p>Envío Gratis</p>
                                        </div>
                                        <div class="lineaInferior">
                                             <div><span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star"></span>
                                                  <span class="fa fa-star"></span></div>
                                             <div class="carritoYWhislist">
                                                  
                                              
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </li>
                         <li class="item-uno">
                              <div class="box">
                                   <div class="slide-img">
                                        <img src="/images/producto1/pinkFloyd.png" alt=""> 
                                         <div class="overlay">
                                             <!--buy-btn------>	
                                                   <a href="#" class="carritoOverlay"><i class="far fa-heart">
                                                       <span class="tooltiptext">Whislist</span>
                                                   </i></a>	
                                                   <a href="#" class="whislistOverlay"><i class="fas fa-shopping-cart"><span class="tooltiptext">Agregar al Carrito</span></i></a>	
                                                   <a href="#" class="vistaRapida"><i class="far fa-eye"><span class="tooltiptext">Ver Producto</span></i></a>	
                                             </div>
                                   </div>
                                  
                                   <div class="detail-box">
                                        <div class="descripcionProducto">
                                             <a href="/productos"><p>Descripcion del producto</p></a>
                                        </div>
                                        <div class="precioYoferta">
                                             <div class="precio">$500</div>
                                             <div class="oferta"> 50% Off</div>
                                        </div>
                                        <div class="envio">
                                             <p>Envío Gratis</p>
                                        </div>
                                        <div class="lineaInferior">
                                             <div><span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star checked"></span>
                                                  <span class="fa fa-star"></span>
                                                  <span class="fa fa-star"></span></div>
                                             <div class="carritoYWhislist">
                                                  
                                              
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </li>
                        
                        
                    </ul>
              
               </div>
               <div class="flechaDerCarrousel"></div>
          </div>
          <div class="flechaScrollSeccionTres">
               <a href="#seccionCuatro"> <span><i  class="fas fa-arrow-down flechaSeccion"></i></span></a>
           </div>
         
     </section>


     <section id="seccionCuatro" class="seccionCuatro">
          <div class="divSeccionCuatro">
               <img src="/images/home-imgs/fotocoleccioncuatro.jpg" alt="">
          </div>
          <div class="divSeccionCuatro columnaDerecha">
                <div >
                     <h2>Acá va la campaña/ colección 2</h2>
                     <button class="callToAction">Accion</button>
                </div>
          </div>
         
       
     </section>
     <section></section>
     
</main>
<footer>
     <%- include('./partials/footer') %>
</footer>

</body>

</html>