<!DOCTYPE html>
<html lang="es">
<head>
   <%- include('./partials/head') %>
</head>

<body>
     <%- include('./partials/header') %>
<main>

     <section class="seccionUno">
          <div class="tituloSeccionUno">
               <h1>Caniada Ropa Informal</h1>
               <button class="callToAction"><a href="/productos">Ver productos</a></button>
          </div>
          <div class="flechaScroll">
               <a href="#seccionDos"><span><i id="flechaTop" class="fas fa-arrow-down"></i></span></a>
               
          </div>

     </section>

     <section id="seccionDos" class="seccionDos">
          <div class="divSeccionDos izquierda">
               <div class="izquierda">
                    <h2>Aca va la categoría o colección uno</h2>
                    <button class="callToAction">Acción</button>
               </div>
          </div>
          <div class="divSeccionDos">
               <img src="/images/home-imgs/secciondosfoto.jpg" alt="">
          </div>
          
          <div class="flechaScroll">
              <a href="#seccionTres"> <span><i  class="fas fa-arrow-down flechaSeccion"></i></span></a>
          </div>

     </section>
<!--   SECTION TRES: CARROUSEL        -->

     <%- include('./partials/carrousel') %>


<!--   SECTION TRES: CARROUSEL        -->



     <section id="seccionCuatro" class="seccionCuatro">
          <div class="divSeccionCuatro">
               <video src="/videoBackground.mp4" autoplay loop muted alt=""></video>
          </div>
          <div class="divSeccionCuatro columnaDerecha">
                <div class="coleccionTitulo" >
                     <h2>Acá va la campaña/ colección 2</h2>
                     <button class="callToAction">Accion</button>
                </div>
          </div>
         
     </section>



     
</main>
<footer>
     <%- include('./partials/footer') %>
</footer>

</body>

</html>