<!DOCTYPE html>
<html lang="es">
     <head>
          <%- include('./partials/head') %>
       </head>

<body>
     <%- include('./partials/header') %>

     <main class="cargar contenedor">
          
               <%- include(`./partials/${view}`) %> 
          
     </main>
     
     <footer>
          <%- include('./partials/footer') %>
     </footer>


</body>

</html>