    <div class="fila1">
          <div class="logo">
               <img class="logo" src="/images/logos/isoLogoTipo.svg" alt=""> <!--logo-->
          </div>
          
          <div class="menu">
              
              <div class="nav nosotros">
                   <h4>Caniada</h4>
                   <ul>
                    <li><a href="/nosotros">Quiénes somos</a></li>
                    <li><a href="">Términos y condiciones</a></li>
                    <li><a href="">Contactanos</a></li>
               </ul>
              </div>
          </div>

          <div class="menu">    
              <div class="nav colecciones">
                   <h4>Colecciones</h4>
                   <ul>
                        <li><a href="">Categoria 1</a></li>
                        <li><a href="">Categoria 2</a></li>
                        <li><a href="">Categoria 3</a></li>
                   </ul>
              </div>
          </div>  

          <% if (locals.usuarioLogueado == undefined) { %>
          <div class="usuario">
               <a href="/usuarios/register" class="registro">Crear cuenta</a>
               <a href="/usuarios/login" class="logIn">Iniciar sesión</a>
          </div>
          <% }else { %>
     
          <% } %>

         
                   
                   
         
          </div>
    <div class="fila2">
          <div>
               <h4><small> © grupo6 DH </small></h4>
          </div>
          <div>
               <p><small>Desarrollo web full stack CN23</small></p>
          </div>
          
          <div class="redes">
              <a href="https://github.com/NelsonLoto/grupo_6_caniadaDesigns" target="_blank"><i class="fab fa-github"></i></a>
          </div>
    </div>

    <script type="text/javascript" src="/js/carrousel.js"></script>
    <script type="text/javascript" src="/js/validation.js"></script>
    <script type="text/javascript" src="/js/agregarCarrito.js"></script>
    <script type="text/javascript" src="/js/dropdownCarrito.js"></script>
    <script type="text/javascript" src="/js/agregarCarrito.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>