<header class="template">
     <div class="logo">
          <a href="/">
               <img class="header" src="/images//logos/isoLogoTipoBlanco.svg" alt="">
          </a>
     </div>


     <nav class="menu">
          <ul>
               <li><a href="/productos">Tienda</a></li>
               <li><a href="/#seccionTres">Destacados</a></li>
               <li><a href="/nosotros">Nosotros</a></li>

          </ul>

          <div class="boton-menu">
               <i class="fas fa-bars"></i>
          </div>

     </nav>


     <nav class="user">


          <!-- <li> <a href=""><i class="content-search fas fa-search"></i></a>

                   <form action="/productos" method="GET">
                        <input type="text" name="search" autocomplete="off" required >
                        <label for="search" class="label-name "><button type="submit"><i class="content-search fas fa-search"></i></span></label>
                   </form>

              </li> -->
              
          <div class="navbar-right">
     
     <% if( locals.usuarioLogueado == undefined) {%>

               <div class="contenedor-icono busqueda">
                    <a href=""><i class="content-search fas fa-search"></i></a>
               </div>

               <div class="contenedor-icono carrito">
                    <a href="#" id="cart"><i class="fa fa-shopping-bag"></i><span class="badge"></span></a>

                    <div class="shopping-cart">
                         <div class="shopping-cart-header">
                              <div class="shopping-cart-vaciar">
                                        <i class="fas fa-times-circle"></i>
                                        <p class="vaciarCarrito">Vaciar carrito</p>
                              </div>
                              <div class="shopping-cart-total">
                                   <span class="lighter-text">Total:</span>
                                   <span class="main-color-text total"></span>
                                   <br>
                              </div>
                         </div> 
                         <!--end shopping-cart-header -->
     
                         <ul class="shopping-cart-items">
                               
                         </ul>
     
                         <a href="/productos/ver/carrito" class="button-checkout">Confirmar compra <i class="fa fa-chevron-right"></i></a>
                    </div>
               </div>

               <div class="contenedor-icono usuario" id="data-user" >
                    <a href="/usuarios/login" class="link-login"><i class="fas fa-sign-in-alt"></i>
                         <div class="perfil-menu">
                              
                         </div>
                    </a>
               </div>


     <% } else if ( locals.usuarioLogueado.id_rol === 1 || locals.usuarioLogueado.id_rol === 3 || locals.usuarioLogueado.id_rol === 5 ||locals.usuarioLogueado.id_rol === 7 ){%>


               <div class="contenedor-icono busqueda">
                    <a href=""><i class="content-search fas fa-search"></i></a>
               </div>

               <div class="contenedor-icono carrito admin" >
                    <a href="#" id="cart"><i class="fa fa-shopping-bag"></i><span class="badge"></span></a>

                    <div class="shopping-cart">
                         <div class="shopping-cart-header">
                              <div class="shopping-cart-vaciar">
                                   <i class="fas fa-times-circle"></i>
                                   <p class="vaciarCarrito">Vaciar carrito</p>
                              </div>
                              <div class="shopping-cart-total">
                                   <span class="lighter-text">Total:</span>
                                   <span class="main-color-text total"></span>
                                   <br>
                              </div>
                         </div> 


                         <ul class="shopping-cart-items">
                               
                         </ul>

                         <a href="/productos/ver/carrito" class="button-checkout">Confirmar compra <i class="fa  fa-chevron-right"></i></a>
                    </div>
               </div>

               <div class="contenedor-icono usuario" id="data-user" data-id-usuario=<%= usuarioLogueado.id_usuario %>>


                    <div class="avatar">
                         <img src="/images/avatars/<%= usuarioLogueado.avatar %> " alt="">
                         <span class="flecha-menu"><i class="fas fa-chevron-down"></i></span>
                    </div>
                    
                    <div class="menu-dropdown">

                         <div class="dropdown-option">
                              <a class="link-option" href="#">
                                   <i class="fas fa-table"></i>
                                   <p>Admin panel</p>
                              </a>
                         </div>
     
                         <div class="dropdown-option">
                              <a class="link-option" href="http://localhost:3006">
                                   <i class="fas fa-chart-line"></i>
                                   <p> Ir a Dashboard</p>
                              </a>
                         </div>
     
                         <div class="dropdown-option">
                              <a class="link-option" href="/">
                                   <i class="fas fa-user-shield"></i>
                                   <p>Perfil</p>
                              </a>
                         </div>
     
                         <div class="dropdown-option">
                              <a class="link-option" href="/usuarios/logout">
                                   <i class="fas fa-sign-out-alt"></i>
                                   <p>Cerrar sesión</p>
                              </a>
                         </div>
     
                    </div>

               </div>


     <% } else { %>

               <div class="contenedor-icono busqueda">
                    <a href=""><i class="content-search fas fa-search"></i></a>
               </div>
          
               <div class="contenedor-icono carrito">
                    <a href="#" id="cart"><i class="fa fa-shopping-bag"></i><span class="badge"></span></a>
               
                    <div class="shopping-cart">
                         <div class="shopping-cart-header">
                              <div class="shopping-cart-vaciar">
                                   <i class="fas fa-times-circle"></i>
                                   <p class="vaciarCarrito">Vaciar carrito</p>
                              </div>
                              <div class="shopping-cart-total">
                                   <span class="lighter-text">Total:</span>
                                   <span class="main-color-text total"></span>
                                   <br>
                              </div>
                         </div> 
                         <!--end shopping-cart-header -->
                    
                         <ul class="shopping-cart-items">
                               
                         </ul>
                    
                         <a href="/productos/ver/carrito" class="button-checkout">Confirmar compra <i class="fa  fa-chevron-right"></i></a>
                    </div>
               </div>
          
               <div class="contenedor-icono usuario" id="data-user" data-id-usuario=<%= usuarioLogueado.id_usuario %>>

                    <div class="avatar">
                         <img src="/images/avatars/<%= usuarioLogueado.avatar %> " alt="">
                         <span class="flecha-menu"><i class="fas fa-chevron-down"></i></span>
                    </div>
                    
                    <div class="menu-dropdown">

                         <div class="dropdown-option">
                              <a href="#">
                                   <i class="fas fa-eye"></i>
                                   <p>Ver perfil</p>
                              </a>
                         </div>
     
                         <div class="dropdown-option">
                              <a href="/">
                                   <i class="fas fa-history"></i>
                                   <p>Mis compras</p>
                              </a>
                         </div>
     
                         <div class="dropdown-option">
                              <a href="/">
                                   <i class="fas fa-user-cog"></i>
                                   <p>Configuración</p>
                              </a>
                         </div>
     
                         <div class="dropdown-option">
                              <a href="/usuarios/logout">
                                   <i class="fas fa-sign-out-alt"></i>
                                   <p>Cerrar sesión</p>
                              </a>
                         </div>
     
                    </div>

               </div>

     <% } %>


          </div>

     </nav>

</header>