main.contenedorCarrito {
     display: flex;
     justify-content: space-evenly;
     position: relative
     
}

section.vistaResumen{
     width: 40%;
     margin: 30px;
     
}



/*---------------PRODUCTO------------------*/

section.vistaResumen .producto{
     display: flex;
     justify-content: stretch;
     margin-bottom: 30px;
    
}


section.vistaResumen .producto img.imgProducto{
     width: 220px;
     box-shadow: -2px 0px 4px #dedddd;
     border-radius: 8px;
     
}

section.vistaResumen .producto .detalleProducto{
     flex-grow: 1.8;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin: 0px 30px;
     padding: 10px 0px;
     
}

     .detalleProducto .nombreDescripcion p{
          padding: 0px 0px;
     }
     .detalleProducto .nombreDescripcion h4, 
     .detalleProducto .nombreDescripcion p {
          font-family: 'Inter';
          padding: 10px 0px;
     } 


section.vistaResumen .producto .detalleProducto .cantidadYtalle{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

section.vistaResumen .producto .detalleProducto .cantidadYtalle input {
     width: 50px;
     height: 40px;
     background-color: #f2f2f2;
     border: solid 1px #b9b9b9;
     border-radius: 8px;
     text-align: center;
}

section.vistaResumen .producto .detalleProducto .cantidadYtalle .talles{
     display: flex;
     align-items: center;
     justify-content: space-between;
     border: solid 1px #b9b9b9;
     border-radius: 8px;

}

section.vistaResumen .producto .detalleProducto .cantidadYtalle .talles p{
     padding: 0px 10px;
}

section.vistaResumen .producto .detalleProducto .cantidadYtalle .talles #talle {
     width: 50px;
     height: 40px;
     border: none;
     border-radius: 8px;
     background-color: rgb(251, 251, 251);
     text-align: center;
     padding-left: 10px;
}

section.vistaResumen .producto .precioYeliminar{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     flex-grow: 2;
     padding: 50px 0px;
}

section.vistaResumen .producto .precioYeliminar h3 {
     background-color: rgb(50, 50, 50);
     color: white;
     padding: 10px 30px;
     border-radius: 10px;
}


section.vistaResumen .producto .precioYeliminar a img{
     width: 20px;
     height: 20px;
}


/*---------------------------------*/
section.vistaResumen .infoEnvio{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 20px 30px;
     padding: 40px 0px;
}
section.vistaResumen .infoEnvio .envio{
     width: 40%;
     display: flex;
     align-items: center;
     
}
section.vistaResumen .infoEnvio .devolucion{
     width: 40%;
     display: flex ;
     align-items: center;
}


section.vistaResumen .infoEnvio i {
     padding-right: 10px;
     font-size: 30px;
}



/*---------------------------------*/

section.vistaResumen .detalleTotal{
     margin: 30px 0px;
     padding: 20px 40px;
     background-color: #F8F7F7;
     box-shadow: 0px 3px 2px #ebeaea;
     
}
section.vistaResumen .detalleTotal .subtotal{
     display: flex;
     justify-content: space-between;
     padding: 15px 0px 15px 0px;
}
section.vistaResumen .detalleTotal .costoEnvio{
     display: flex;
     justify-content: space-between;
     padding: 15px 0px 15px 0px;
     
}
section.vistaResumen .detalleTotal .totalPedido{
     display: flex;
     justify-content: space-between;
     padding: 15px 0px 15px 0px;
}

/*---------------------------------*/


section.pago{
     width: 50%;
    
     
}

section.pago .seccionFija {
     max-width: 50%;
     position: fixed;
     top:10px;
     right: 0px;
     box-shadow: -3px 3px 2px #ebeaea;
     margin: 20px;
     padding: 10px 30px 0px 30px;
     height: 90vh;
     background-color: #fff;
}

section.pago .seccionFija .preFormulario{
     display: flex;
     justify-content: space-between;
     
}

section.pago .seccionFija a{
     color: #1a2cf3;
     font-size: 14px;
     border-bottom: solid 1px #5168fc;
}


section.pago .seccionFija .formulario form .completar {
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 20px;
     
}
section.pago .seccionFija .preFormulario{
     margin: 0px 0px 10px 0px;
}

section.pago .seccionFija p.datos{
     padding: 10px 0px;
     font-weight: 600;

}

section.pago .seccionFija .formulario .completar label{
     display: flex;
     flex-direction: column;
     width: 50%;
     padding:10px 10px 0px 0px;
     font-size: 0.9rem;
     color: #363636;
     

}

section.pago .seccionFija .formulario .completar label input {
     border: solid 0.5px #B3ABBC;
     border-radius: 8px;
     padding: 5px 5px;
     margin-top: 5px;
}

s
section.pago .seccionFija .formulario .completar label.calle{
     width: 33.3%;
}
section.pago .seccionFija .formulario .completar label.numeracion{
     width: 33.3%;}
section.pago .seccionFija .formulario .completar label.masInfo{
     width: 33.3%;
}


section.pago .seccionFija .formulario .seleccionEnvio{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
     padding: 10px 0px;
}

section.pago .seccionFija .formulario p input{
     margin-right: 20px;

}
section.pago .seccionFija .formulario .newsletterAceptar{
     margin: 20px 0px;
     text-align: center;
     width: 100%;
     border: solid 0.5px #B3ABBC;
     border-radius: 8px;
     padding: 10px 0px
}


section.pago .seccionFija .formulario .total{
     display: flex;
     color: #363636;


}

section.pago .seccionFija .formulario .total h4{
     text-align: right;
     flex-grow: 2;
     width: 66.6%;


}

section.pago .seccionFija .formulario .total p{
     width: 33.3% ;
    text-align: center;
}


section.pago .seccionFija .formulario h3.montoAPagar{
     text-align: center;
     padding: 20px;
     color: #363636;
}
section.pago .seccionFija .formulario .botonPagar{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     
     
     
}
 
section.pago .seccionFija .formulario .botonPagar button {
     display: flex;
     justify-content: center;
     width: 50%;
     padding: 10px 0px;
     background: #6FCF97;
     border: none;
     border-radius: 8px;


     

}
section.pago .seccionFija .formulario .botonPagar button a {
     border-bottom: none;
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px 0px;
     color: white;

}

section.pago .seccionFija .formulario .botonPagar button a img{
     width: 150px;
     padding: 0px 5px;

}
section.pago .seccionFija .formulario .botonPagar button a p{
     padding: 0px 10px;
     
}




footer.footerCarrito{
     position: relative;
     z-index: 3;
     background-color: white;
}
