main.contenedorCarrito {
     display: flex;
     justify-content: space-evenly;     
}

/*---------------------------------------------------*/
/*---------------RESUMEN de PRODUCTOS----------------*/
/*---------------------------------------------------*/
section.vistaResumen{
     width: 40%;
     margin: 30px;
     
}



/*-----------------TARJETA PRODUCTO------------------*/

section.vistaResumen .producto{
     display: flex;
     justify-content: stretch;
     margin-bottom: 30px;
    
}


section.vistaResumen .producto img.imgProducto{
     width: 220px;
     box-shadow: -2px 0px 4px #dedddd;
     border-radius: 8px;
     
}

section.vistaResumen .producto .detalleProducto{
     flex-grow: 1.8;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin: 0px 30px;
     padding: 10px 0px;
     
}

     .detalleProducto .nombreDescripcion p{
          padding: 0px 0px;
     }
     .detalleProducto .nombreDescripcion h4, 
     .detalleProducto .nombreDescripcion p {
          font-family: 'Inter';
          padding: 10px 0px;
     } 


section.vistaResumen .producto .detalleProducto .cantidadYtalle{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

section.vistaResumen .producto .detalleProducto .cantidadYtalle input {
     width: 50px;
     height: 40px;
     background-color: #f2f2f2;
     border: solid 1px #b9b9b9;
     border-radius: 8px;
     text-align: center;
}

section.vistaResumen .producto .detalleProducto .cantidadYtalle .talles{
     display: flex;
     align-items: center;
     justify-content: space-between;
     border: solid 1px #b9b9b9;
     border-radius: 8px;

}

section.vistaResumen .producto .detalleProducto .cantidadYtalle .talles p{
     padding: 0px 10px;
}

section.vistaResumen .producto .detalleProducto .cantidadYtalle .talles #talle {
     width: 50px;
     height: 40px;
     border: none;
     border-radius: 8px;
     background-color: rgb(251, 251, 251);
     text-align: center;
     padding-left: 10px;
}

section.vistaResumen .producto .precioYeliminar{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     flex-grow: 2;
     padding: 50px 0px;
}

section.vistaResumen .producto .precioYeliminar h3 {
     background-color: rgb(50, 50, 50);
     color: white;
     padding: 10px 30px;
     border-radius: 10px;
}


section.vistaResumen .producto .precioYeliminar a img{
     width: 20px;
     height: 20px;
}


/*-----------------INFO de ENVIO------------------*/
section.vistaResumen .infoEnvio{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 20px 30px;
     padding: 40px 0px;
}
section.vistaResumen .infoEnvio .envio{
     width: 40%;
     display: flex;
     align-items: center;
     
}
section.vistaResumen .infoEnvio .devolucion{
     width: 40%;
     display: flex ;
     align-items: center;
}


section.vistaResumen .infoEnvio i {
     padding-right: 10px;
     font-size: 30px;
}



/*-----------------SUBTOTAL / TOTAL------------------*/

section.vistaResumen .detalleTotal{
     margin: 30px 0px;
     padding: 20px 40px;
     background-color: #F8F7F7;
     box-shadow: 0px 3px 2px #ebeaea;
     
}
section.vistaResumen .detalleTotal .subtotal{
     display: flex;
     justify-content: space-between;
     padding: 15px 0px 15px 0px;
}
section.vistaResumen .detalleTotal .costoEnvio{
     display: flex;
     justify-content: space-between;
     padding: 15px 0px 15px 0px;
     
}
section.vistaResumen .detalleTotal .totalPedido{
     display: flex;
     justify-content: space-between;
     padding: 15px 0px 15px 0px;
}

/*---------------------------------------------------*/
/*----------------FACTURACIÓN / PAGO-----------------*/
/*---------------------------------------------------*/

/*-----------------GENERALIZADO------------------*/
section.pago .seccionFija a{
     color: #1a2cf3;
     font-size: 14px;
     border-bottom: solid 1px #5168fc;
}

section.pago{
     width: 50%;
}

section.pago .seccionFija {
     width: 100%;
     top:10px;
     right: 0px;
     box-shadow: -3px 3px 2px #ebeaea;
     margin: 20px;
     padding: 10px 30px 0px 30px;
     height: 90vh;
     background-color: #fff;
     position: sticky;
     top:10vh;
}

section.pago .seccionFija .preFormulario{
     display: flex;
     justify-content: space-between;
     
}

/*-----------------.preFormulario------------------*/
section.pago .seccionFija .preFormulario{
     display: flex;
     justify-content: space-between;
     
}


section.pago .seccionFija .formulario form .completar {
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 20px;
     
}
section.pago .seccionFija .preFormulario{
     margin: 0px 0px 10px 0px;
}

section.pago .seccionFija p.datos{
     padding: 10px 0px;
     font-weight: 600;

}

section.pago .seccionFija .formulario .completar label{
     display: flex;
     flex-direction: column;
     width: 50%;
     padding:10px 10px 0px 0px;
     font-size: 0.9rem;
     color: #363636;
     

}

/*-----------------.formulario------------------*/
section.pago .seccionFija .formulario .completar label{
     display: flex;
     flex-direction: column;
     width: 50%;
     padding:10px 10px 0px 0px;
     font-size: 0.9rem;
     color: #363636;
     

}

section.pago .seccionFija .formulario .completar label input {
     border: solid 0.5px #B3ABBC;
     border-radius: 8px;
     padding: 5px 5px;
     margin-top: 5px;
}


section.pago .seccionFija .formulario .completar label.calle{
     width: 33.3%;
}
section.pago .seccionFija .formulario .completar label.numeracion{
     width: 33.3%;}
section.pago .seccionFija .formulario .completar label.masInfo{
     width: 33.3%;
}


section.pago .seccionFija .formulario .seleccionEnvio{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
     padding: 10px 0px;
}

section.pago .seccionFija .formulario p input{
     margin-right: 20px;

}
section.pago .seccionFija .formulario .newsletterAceptar{
     margin: 20px 0px;
     text-align: center;
     width: 100%;
     border: solid 0.5px #B3ABBC;
     border-radius: 8px;
     padding: 10px 0px
}


section.pago .seccionFija .formulario .total{
     display: flex;
     color: #363636;


}

section.pago .seccionFija .formulario .total h4{
     text-align: right;
     flex-grow: 2;
     width: 66.6%;


}

section.pago .seccionFija .formulario .total p{
     width: 33.3% ;
    text-align: center;
}


section.pago .seccionFija .formulario h3.montoAPagar{
     text-align: center;
     padding: 20px;
     color: #363636;
}
section.pago .seccionFija .formulario .botonPagar{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     
}
 
section.pago .seccionFija .formulario .botonPagar button {
     display: flex;
     justify-content: center;
     width: 50%;
     padding: 10px 0px;
     background: #6FCF97;
     border: none;
     border-radius: 8px;



}
section.pago .seccionFija .formulario .botonPagar button a {
     border-bottom: none;
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px 0px;
     color: white;

}

section.pago .seccionFija .formulario .botonPagar button a img{
     width: 150px;
     padding: 0px 5px;

}
section.pago .seccionFija .formulario .botonPagar button a p{
     padding: 0px 10px;
     
}






/*--------------------------------------------------------*/
/*-----------------FOOTER CARRITO PRUEBA------------------*/
/*--------------------------------------------------------*/


footer.footerCarrito{
     background-color: #232323;
}


/* Footer superior */
footer.footerCarrito .fila1 {
     display: flex;
     justify-content: space-between;
     margin: 10px 50px;
     border-bottom: solid 1px white;
     padding: 30px 0px;
}

footer.footerCarrito .fila1 img.logo {
     background-color: rgba(255, 255, 255, 0.7);
     border-radius: 10px;
}
footer .fila1 div.derecha{
     margin: 0px 50px;
     display: flex;
     justify-content: space-between;
}

footer.footerCarrito .fila1 .derecha h4 {
     margin: 10px 0px 20px 0px;
     color: white;
}
footer .fila1 .derecha ul {
     list-style-type: none;
}
footer .fila1 .derecha ul li {
     padding-top: 15px;
}
footer.footerCarrito .fila1 .derecha ul li a{
     color: white
}

.fila1 div.derecha div.nav {
     margin: 0px 60px 0px 0px;
     display: flex;
     flex-direction: column;   
}

.fila1 div.derecha div.colecciones {
     margin: 0px 60px 0px 0px;
     display: flex;
     flex-direction: column;
}

.fila1 div.derecha div.nosotros {
     margin: 0px 60px 0px 0px;
     display: flex;
     flex-direction: column;
}


.fila1 div.derecha div.usuario {
     margin: 10px 0px 10px 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.fila1 div.derecha div.usuario a{
     margin-bottom: 20px;
     padding: 10px 20px;
     width: 160px;
     border: solid 1px #363636;
     border-radius: 8px;
     text-align: center;
     font-size: 15px;
}
.fila1 div.derecha div.usuario a.registro{
     background-color: #363636;
     color: white;
}

.fila1 div.derecha div.usuario a.logIn{
     background-color: white;
     color: #363636;
}



/* Footer inferior */

footer.footerCarrito .fila2 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0px 50px;
     padding: 20px 0px;
}
footer.footerCarrito .fila2 h4{
     margin: 0px 50px;
}
footer .fila2 .redes{
     margin: 0px 50px;
     display: flex;
     justify-items: space-around;
     align-items: center;
}
footer .fila2 .redes p{
     padding: 0px 0px 0px 30px;
}
footer .fila2 .redes a{
     margin: 0px 0px 0px 30px;
}
footer .fila2 .redes a i{
     color: #363636;
     font-size: 25px;
}
