
footer {
     /*box-shadow: -1px -1px 4px #a7a5a5;*/
     margin-top: 20px;
     border-top: solid 0.2px #d8d6d6;
     z-index: 5;
     position: relative;
     background-color: rgb(250, 250, 250);
     

}



/* Footer superior */
footer .fila1 {
     display: flex;
     justify-content: space-between;
     margin: 0px 50px;
     border-bottom: solid 1px #908f8f;
     padding: 20px 0px;
     flex-wrap: wrap;
}

footer .fila1 img.logo {
     height: 60px;
     width: 150px;
     margin:10px 0px 0px 50px;
}

.fila1 div.menu {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin: 0px 50px;
     flex-grow: 1;
     
}


footer .fila1 .menu h4 {
     margin: 10px 0px 20px 0px;
}
footer .fila1 .menu ul {
     list-style-type: none;
}
footer .fila1 .menu ul li {
     padding-top: 15px;
}
footer .fila1 .menu ul li a{
     color: #363636
}

.fila1 div.menu div.nav {
     margin: 0px 20px;
     display: flex;
     flex-direction: column;   
}

.fila1 div.menu div.colecciones {
     margin: 0px 20px;
     display: flex;
     flex-direction: column;
}

.fila1 div.menu div.nosotros {
     margin: 0px 20px;
     display: flex;
     flex-direction: column;
}


.fila1 div.usuario {
     margin: 10px 50px 10px 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.fila1 div.usuario a{
     margin-bottom: 20px;
     padding: 10px 20px;
     width: 160px;
     border: solid 1px #363636;
     border-radius: 8px;
     text-align: center;
     font-size: 15px;
}
.fila1 div.usuario a.registro{
     background-color: #363636;
     color: white;
}

.fila1 div.usuario a.logIn{
     background-color: white;
     color: #363636;
}



/* Footer inferior */

footer .fila2 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 50px;
     
}
footer .fila2 h4{
     margin: 0px 50px;
}
footer .fila2 .redes{
     margin: 0px 50px;
     display: flex;
     justify-items: space-around;
     align-items: center;
}
footer .fila2 .redes p{
     padding: 0px 0px 0px 30px;
}
footer .fila2 .redes a{
     margin: 0px 0px 0px 30px;
}
footer .fila2 .redes a i{
     color: #363636;
     font-size: 25px;
}
footer .fila2 .redes a i.fa-facebook{}
footer .fila2 .redes a i.fa-instagram{}
footer .fila2 .redes a i.fa-pinterest{}


@media screen and (max-width: 1024px){

     .fila1  {
          align-content: space-between;
          flex-wrap: nowrap;
     
     }
     footer .fila1 img.logo {
          margin:0px 10px;
     }
     footer .fila1 div.menu {
          display: flex;
          flex-wrap: nowrap;
          order: 1
     
     }

     footer .fila1 div.usuario {
          order: 0;
          margin:0px 10px;
     }
}

@media screen and (max-width: 700px){

     footer .fila1  {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          align-items: center;
          margin: 0px 0px
     
     }
     footer .fila1 img.logo {
          margin:0px 0px;
          justify-self: center;
     }
     footer .fila1 div.menu {
          display: flex;
          flex-wrap: wrap;
          order: 1;
          flex-direction: column;
          justify-self: center;
          align-content: center;
          margin: 10px 10px;
          width: 100%;
     }

     footer .fila1 div.menu:nth-child(){
          display: flex;
          width: 100%;
     }

     footer .fila1 div.menu .nav,
     footer .fila1 div.menu .colecciones,
     footer .fila1 div.menu .nosotros{
          width: 80%;
          text-align: center;
     }

     footer .fila1 div.menu h4{
          margin: 5px 0px;
     }

     footer .fila1 div.menu .nav ul,
     footer .fila1 div.menu .colecciones ul,
     footer .fila1 div.menu .nosotros ul{
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
     }

     footer .fila1 div.menu .nav ul li,
     footer .fila1 div.menu .colecciones ul li,
     footer .fila1 div.menu .nosotros ul li{
          margin: 0px 20xpx;
     }

     footer .fila1 div.usuario {
          order: 0;
          margin:20px 0px;
     }


     footer .fila2{
          flex-direction: column;
     }

     footer .fila2 h4{
          order: 1;
     }
     footer .fila2 .redes{
          margin: 20px 0px;
     }
}