
header {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    box-shadow: 1px 2px 4px #919191;
    background:white;
    z-index:2;
    position:sticky;
    top:0px;
    background-color: rgba(16, 16, 16, 0.95);

}

header div.logo{
    height: 100%;
    width: 33.3%;
    padding-left: 10vw;
}

header div.logo img.header {
    height: 90%;
    padding: 10px 0px 10px 0px;
    
}

header nav.menu{
    width: 33.3%;
    
    
}

header nav.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav.menu ul li{
    font-size: 1rem;
    color: #fafafa;
}

header nav.menu ul li a{
    font-size: 1rem;
    color: #fafafa;
}

header nav.user{

    width: 33.3%;
    padding-right: 10vw;
}

header nav.user ul li.bag{
    position: relative;
}

header nav.user ul li span{
    width: 16px;
    line-height: 16px;
    background-color: tomato;
    z-index: 2;
    position: absolute;
    right: -12px;
    top:-4px;
    color:white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-shadow: -6px 4px 15px rgb(223, 75, 75);
}

header nav.user ul{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    list-style: none;
    color: #363636;
}

header nav.user ul li {
    padding-left: 50px;
    font-size: 1.1rem;
    color: #fafafa;
}

header nav.user ul li a:hover {
    transition: all ease-out 0.1s;
    
}

header nav.menu ul li a:hover {
    transition: all ease-out 0.1s;
    /*color: rgb(248, 233, 222);*/
    
}

header nav.user ul li a{
    color: #fafafa;
}