
header {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    box-shadow: 1px 2px 4px #919191;
    background:white;
    z-index:2;
    position:sticky;
    top:0px;
    background-color: rgba(16, 16, 16, 0.95);
    box-sizing: border-box;
}

header div.logo{
    height: 100%;
    width: 33.3%;
    padding-left: 5vw; /*Originalmente estaba en 10vw*/
}

header div.logo img.header {
    height: 90%;
    padding: 10px 0px 10px 0px;
    
}

header nav.menu{
    width: 33.3%;
    /*height: 100%;*/
}

header nav.menu div.boton-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    color: #fafafa;
}

header nav.menu div.boton-menu i{
    align-self: center;
    font-size: 3rem;
    display: none;
}

header nav.menu ul{
    display: flex; /*Estaba en flezflex*/
    justify-content: space-between;
    list-style: none;
}

header nav.menu ul li{
    font-size: 1rem;
    color: #fafafa;
}

header nav.menu ul li a{
    font-size: 1rem;
    color: #fafafa;
}

header nav.user{

    width: 33.3%;
    padding-right: 10vw;
}
/*ICONO BÚSQUEDA*/
/*
header nav.user ul li form {
    
    position:  relative;
    height:30px;
    

}

form input{
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0);
    border: none;
    padding-left: 5px;
    outline: none;
    color:  rgba(16, 16, 16);
    cursor: pointer;
}

form label {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    
}

form label::after{
    content: '';
    position: absolute;
    left: 5px;
    height: 95%;
    width: 80%;
    border-bottom: solid 2px  rgb(233, 92, 92);
    transform: translateY(-1000%);
    transition: all 0.3s ease;
    padding: 0px 10px;
    overflow: hidden;
    
}

form label .content-search{
    position: absolute;
    bottom: 5px;
    right:5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
form input:focus, 
form input:valid{
    padding-bottom: 0px;
    background-color: white;
    border-radius: 8px;
    cursor: text;
}


form input:focus + label .content-search,
form input:valid + label .content-search{
    color:black;
    
}

form input:focus + label::after, 
form input:valid + label::after{
    transform: translateY(0%);    
}*/




/*icono CARRITO*/
header nav.user ul li.bag{
    position: relative;
}

header nav.user ul li span.notificacion{
    width: 16px;
    line-height: 16px;
    background-color: tomato;
    z-index: 2;
    position: absolute;
    right: -12px;
    top:-4px;
    color:white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-shadow: -6px 4px 15px rgb(223, 75, 75);
    cursor: pointer;
}

header nav.user ul{
    display: flex;
    justify-content: space-between;
    text-align: right;
    list-style: none;
    color: #363636;
}

header nav.user ul li {
    padding-left: 50px;
    font-size: 1.1rem;
    color: #fafafa;
}

header nav.user ul li a:hover {
    transition: all ease-out 0.1s;
    
}

header nav.menu ul li a:hover {
    transition: all ease-out 0.1s;
    /*color: rgb(248, 233, 222);*/
    
}

header nav.user ul li a{
    color: #fafafa;
}

@media screen and (max-width: 860px){
    header div.logo{
        padding-left: 2vw;
    }
}

@media screen and (max-width: 768px){
    header nav.menu ul{
        display: none;
    }

    header nav.menu div.boton-menu i{
        display: flex;
    }
}

@media screen and (max-width: 600px){
    header nav.user ul li{
        padding-left: 20%;
    }

    header nav.menu div.boton-menu i{
        font-size: 2rem;
    }

    header div.logo{
        display: flex;
        align-content: center;
        align-items: center;
    }
    header div.logo img.header {
        width: 100%;
        height: auto;
        align-self: center;
    }
}

@media screen and (max-width: 350px){
    header nav.menu div.boton-menu i{
        font-size: 1.5rem;
    }
}