
.seccionUno{
    height: 88vh;
    background-color: #e5e5e5 ;
    background-image: url(/images/home-imgs/fondoseccionuno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    
}
.tituloSeccionUno{
    padding-left: 10vw;  
   

    
}
.tituloSeccionUno h1{
    font-family: 'Montserrat' Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 140%;
    color: #363636;
}
.callToAction{
    border: none;
    border-radius: 8px;
    background-color: #363636;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
}

.callToAction a{
    color: white;
}

.flechaScroll{
    margin-bottom: 10px;
    align-self: center;
    position: absolute;
    bottom: 0px;
   
}
#flechaTop{
    color: #fff;
    background-color: black;
    padding:7px;
    border-radius: 100%;
}


.seccionDos{
    background-color: #e5e5e5 ;
    display: flex;
    position: relative;
    justify-content: center;    
    height: 100vh;
    
}
.divSeccionDos{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.divSeccionDos img{
    width: 100%;
    height: 100%;
}
.divSeccionDos .izquierda{
    padding-left: 10vw;
    
}

.seccionTres{
    height: 100vh;
    /*background-color: #212121;*/
}
.seccionTres h2{
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 30px;
    color:#363636
}



/* ----------- Slider ---------- */
.box{
	width:300px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}
.slide-img{
	height: 50%;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
}
.detail-box{
    height: 50%;
}
.detail-box .descripcionProducto{
    text-align: center;
}
.precioYoferta{
    display: flex;
    justify-content: space-around;
    padding:5px 0px;
}
.envio{
text-align: center;
}

.lineaInferior{
    display: flex;
    justify-content: space-around;
}

#autoWidth{
display: flex;
overflow: hidden;
list-style: none;
}