
/*------------------------------
--------------------------------
MAIN
--------------------------------
------------------------------*/

main.contenedor{
    color: #363636;
}
main.contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    /*background-color: rgb(250, 250, 250);*/
}


/*-------------------------------------------
---------------------------------------------
SECTION (estilos que aplican a ambas Section)
---------------------------------------------
-------------------------------------------*/
main.contenedor section.registro {
   /* background-color: rgb(250, 250, 250);*/
   height: 88vh;
    width: 50%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    position: relative;
}

main.contenedor section.registro h1.titulo {
    text-align: center;
    color: #363636;
    padding-bottom: 15px;
    font-size:2rem;
}

main.contenedor section.registro div.heading{
    text-align: center;
    margin: 20px 0px;
}
main.contenedor section.registro div.heading p a{
    color: #fc5e5e;
   
}

main.contenedor section.registro div.caja{
    height: 100%;
    width: 90%;
    padding: 0px 10%;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    /*box-shadow: -1px 1px 40px rgb(207, 206, 206)*/
    
}

main.contenedor section.registro div.caja .form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

main.contenedor section.registro div form div.nombres {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main.contenedor section.registro div form div.nombres div{
    width: 49%;
}

main.contenedor section.registro div.caja form div label.campoDatos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:10px 0px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
}
main.contenedor section.registro div.caja form label.campoDatos input {
    position: relative;
    right: 0px;
    height: 40px;
    width: 100%;
    outline: none;
    padding-left: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    border: solid 1px #c2c1c1;
    background-color: none;
    color: #363636;

}
main.contenedor section.registro div.caja form label.campoDatos p {
    color: #706e6e;
    font-size: 0.8rem;
    padding: 0px 0px 10px 5px;

}

main.contenedor section.registro div.caja form label.campoDatos i {
    position: absolute;
    left: 15px;
    bottom: 7px;
    height: 30px;
    width: 5%;
    outline: none;
    font-size: 1rem;
    z-index: 1;
    color: #fc5e5e;

}

main.contenedor section.registro div.caja form label.campoDatos input:focus{
    box-shadow: 0px 1px 8px #f5b2b2;
    border: solid 1px #ecebeb;
    
}





main.contenedor section.registro div form div{
    width: 100%;
    position: relative;
}


main.contenedor section.registro div form div.checkbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
main.contenedor section.registro div form div.checkbox label{
    font-size: 0.8rem;
    padding: 5px 0px;
}
main.contenedor section.registro div form div.checkbox label a{
    color: dodgerblue;
}


main.contenedor section.registro div .submit {
    
    width: 100%;
    text-align: center;
    margin: 10px 0px;

}

main.contenedor section.registro div button.usuario{
    border-radius: 30px;
    border:none;
    background-color: #fc5e5e;
    height: 40px;
    width: 50%;
}


main.contenedor section.registro div.submit button:hover {
    background-color: #eb5757;
    
}
main.contenedor section.registro div.submit button{
    padding: 0px 30px;
    color: white;
    width: 40%;
    font-size: 1rem;
}







main.contenedor section.registro .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    padding: 0px 0px
}

main.contenedor section.registro .redes button {
    margin: 10px 5px;
    width: 40%;
    padding: 10px;
    border-radius: 30px;
    font-size: 0.9rem;
}


main.contenedor section.registro .redes button.google{
    background-color: white;
    color:  #fc5e5e;
    border: solid 1px #fc5e5e;
}

main.contenedor section.registro .redes button.google:hover{
    background-color: #f55a4c;
    color: white;
}
main.contenedor section.registro .redes button.facebook{
    background-color:white;
    color: #3a599c;
    border: solid 1px #3a599c;
}

main.contenedor section.registro .redes button.facebook:hover{
    background-color: #4a69ac;
    color: white;
}






    input[type=checkbox]{
        transform: translateY(15%) scale(0.8);
    }




 @media screen and (max-width: 850px){
    main.contenedor{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    
    }

    main.contenedor section.registro.logIn, main.contenedor section.registro.registro {
        background-color: rgb(250, 250, 250);
        width:100%;
        height: auto;
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        margin-top: 40px;
    }
   

    main.contenedor section.registro .caja{  
        height: 100%;
    }


}


/*------------------------------
--------------------------------
Scripts
--------------------------------
------------------------------*/

.opacity{
    opacity: 0.4;
    transition: all 0.9s ease-in-out;
    transform: scaleY(0.98);
}










      



