<section class="productosAdmin">
     <div class="contenedor-cajas">
          <div class="caja caja-producto">
               <i class="fas fa-box-open"></i>
               <a href="/admin/productos/all">
                    <h3>Ver productos</h3>
               </a>
          </div>

          <div class=" caja caja-usuario">
               <i class="fas fa-users"></i>
               <a href="/admin/usuarios/all">
                    <h3>Ver usuarios</h3>
               </a>
          </div>
          
     </div>
</section>